doctype html
html
  head
    title pug bakery

  body
    include nav.pug
    h1 Pug Bakery
    img(src='img/village-bakery-home-retail.jpg')
    h2 Our Mission
    p Mixtape church-key selfies cronut, umami venmo photo booth taxidermy post-ironic chillwave chartreuse austin. Glossier copper mug bespoke kogi salvia cray. Kombucha kinfolk freegan, pickled polaroid mixtape narwhal quinoa pour-over aesthetic shabby chic keytar next level hell of. Tbh man bun prism photo booth forage. Umami iceland hashtag pour-over. Bushwick kogi cliche yuccie poke art party. Af vinyl coloring book, hexagon keffiyeh green juice waistcoat activated charcoal artisan humblebrag church-key raclette.
